# Editor stuff
.vscode
*.swp
*.swo
*~

# Python caches...
*.egg-info
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
.hypothesis
.tox
.nox
.coverage
htmlcov

# pyenv stuff
.python-version

# Local environments / tooling
.venv
.codex

# Builds
build
dist
